/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 21, 2017, 11:26:27 AM
    Author     : BGILLING
*/

.format_label {
    text-align: left;
    padding-left: 10px;
    font-weight: 600;
    min-width: 160px;
    display: inline-block;
}